@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@600;700&display=swap');
@mixin header($fz) {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: $fz;
  color: $primary;
}
$dark: #161616;
$dark-2: #444;
$light: #fff;
$light-2: #757575;
$primary: #244d4d;
$secondary-font: 'Montserrat', sans-serif;
$primary-font: 'DM Sans', sans-serif;
$transition-link: color 0.5s ease;
$section-margin: 140px;
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $primary-font;
}
.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.227);

  position: sticky;
  top: 0px;
  z-index: 100;
  &__container {
    padding-bottom: 27px;
    padding-top: 27px;
  }
  // &__logo {
  //   @include header(24px);
  // }

  // &__list {
  //   display: flex;
  //   column-gap: 50px;
  // }

  // &__item a {
  //   transition: $transition-link;
  //   color: $dark;
  //   &:hover {
  //     color: $primary;
  //     transition: $transition-link;
  //   }
  // }

  // &__brgr-menu {
  //   margin-left: 30px;
  // }
}
.navbar-brand {
  @include header(24px);
}
.bg-light {
  background-color: rgba(248, 249, 250, 0) !important;
}
.form-control {
  margin-right: 2vw;
  width: 40vw;
}
.form-control:focus {
  color: $primary;
  background-color: #fff;
  border-color: $primary;
  outline: 0;
  box-shadow: 0 0 5px 0.05rem #244d4d79;
}
.btn-outline-success {
  color: $primary;
  background-color: transparent;
  background-image: none;
  border-color: $primary;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}
.btn-outline-success:active,
.btn-outline-success:focus {
  color: #fff;
  background-color: $primary !important;
  border-color: $primary !important;
  box-shadow: 0 0 5px 0.05rem $primary !important;
}
.main {
  flex: 1 1 auto;
}
.hero {
  &__wrapper {
    display: flex;
    background-color: $primary;
    align-items: center;
    column-gap: 150px;
    padding-right: 75px;
    margin-bottom: $section-margin;
  }

  &__picture {
    min-width: 499px;
  }

  &__cta {
    max-width: 700px;
  }

  &__header {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    color: $light;
  }
  @media (max-width: 1269.98px) {
    .hero__header {
      font-size: 54px;
    }
  }
  &__paragraph {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: $light;
    margin: 30px 0;
  }

  &__button {
    display: inline-block;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: $primary;
    background-color: $light;
    padding: 20px 40px;
  }
  &__button {
    &:hover {
      color: $primary;
    }
  }
}
.section {
  margin-bottom: $section-margin;
  .trusted {
    &__header {
      text-align: center;
      @include header(32px);
    }

    &__content {
      display: flex;
      column-gap: 50px;
      row-gap: 40px;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
}

.carousel-indicators > * {
  background-color: rgb(124, 124, 124) !important;
}
.carousel-indicators .active {
  background-color: $primary !important;
}

.slider {
  &__header {
    @include header(32px);
  }

  &__paragraph {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;

    color: $dark-2;
    max-width: 700px;
    margin: 20px 0 0 0;
  }
}

.list__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1269.98px) {
  .list__wrapper {
    justify-content: space-around;
  }

  .furniture:last-child {
    display: none;
  }
}
.furniture {
  margin: 80px 15px 140px 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.227);

  &__wrapper {
    padding: 30px;
  }

  &__describe {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    &_small {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 135%;
      /* identical to box height, or 135% */

      color: $dark;
    }
  }

  &__sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__prise {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height, or 129% */

    color: $primary;
  }
  &__button {
    color: $primary;
    &:hover {
      color: $dark;
    }
  }
}

.catalog {
  &_text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    @include header(32px);
  }

  &__paragraph {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;
    color: $dark-2;
    max-width: 800px;
    text-align: center;
    padding: 20px 0;
  }

  &__select {
    display: flex;
    justify-content: center;
    column-gap: 135px;
  }

  &__picture-wrapper {
    position: relative;
    &::before {
      content: '';
      width: 190px;
      height: 85px;
      background-color: $primary;
      position: absolute;
      z-index: -1;
      left: -12px;
      top: -9px;
    }
    &::after {
      content: '';
      width: 190px;
      height: 85px;
      background-color: $primary;
      position: absolute;
      z-index: -1;
      right: -12px;
      bottom: -9px;
    }
  }

  &__switch {
    display: grid;
    grid-template-columns: repeat(2, minmax(55px, 222px));
    grid-template-rows: repeat(3, minmax(30px, 90px));
    place-content: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 2px rgba(0, 0, 0, 0.177) solid;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    &:hover {
      background-color: $primary;
      color: $light;
    }
  }
}

.footer {
  background-color: $primary;
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 20px 50px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (max-width: 594.98px) {
    .footer__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  &__text {
    padding: 0 20px;
  }

  &__header {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: $light;
  }

  &__paragraph {
    max-width: 300px;
    margin-top: 20px;
    color: $light;
  }
  &__item {
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
  &__link {
    padding: 0;
    margin: 0;
    color: $light;
    &:hover {
      color: $light-2;
    }
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $light;
    padding-top: 13px;
    padding-inline: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $light;
  }
}

@media (max-width: 1059.98px) {
  .furniture {
    margin: 80px 15px 80px 15px;
  }

  .hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    padding: 60px 20px;
  }
  .hero__container {
    width: 100%;
    padding: 0;
  }
  .hero__picture-wrapper {
    display: none;
  }
  .footer__text {
    margin-top: 30px;
  }

  .catalog__picture-wrapper {
    margin-bottom: 40px;
  }
  .catalog__picture-wrapper::after,
  .catalog__picture-wrapper::before {
    display: none;
  }
  .catalog__select {
    flex-wrap: wrap;
  }
}
@media (max-width: 899.98px) {
  .furniture:not(:first-child) {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .hero__header {
    font-size: 50px;
  }
  .hero__button {
    font-size: 20px;
  }
}
