@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@600;700&display=swap");
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.header__container {
  padding-bottom: 27px;
  padding-top: 27px;
}

.navbar-brand {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #244d4d;
}

.bg-light {
  background-color: rgba(248, 249, 250, 0) !important;
}

.form-control:focus {
  color: #244d4d;
  background-color: #fff;
  border-color: #244d4d;
  outline: 0;
  box-shadow: 0 0 5px 0.05rem rgba(36, 77, 77, 0.4745098039);
}

.btn-outline-success {
  color: #244d4d;
  background-color: transparent;
  background-image: none;
  border-color: #244d4d;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #244d4d;
  border-color: #244d4d;
}

.main {
  flex: 1 1 auto;
}

.hero__wrapper {
  display: flex;
  background-color: #244d4d;
  align-items: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  padding-right: 75px;
  margin-bottom: 140px;
}
.hero__picture {
  min-width: 499px;
}
.hero__cta {
  max-width: 700px;
}
.hero__header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  color: #fff;
}
.hero__paragraph {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
  margin: 30px 0;
}
.hero__button {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #244d4d;
  background-color: #fff;
  padding: 20px 40px;
}
.hero__button:hover {
  color: #244d4d;
}

.section {
  margin-bottom: 140px;
}
.section .trusted__header {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
}
.section .trusted__content {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.carousel-indicators > * {
  background-color: rgb(124, 124, 124) !important;
}

.carousel-indicators .active {
  background-color: #244d4d !important;
}

.slider__header {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
}
.slider__paragraph {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #444;
  max-width: 700px;
  margin: 20px 0 0 0;
}

.list__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.furniture {
  margin: 80px 15px 140px 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.227);
}
.furniture__wrapper {
  padding: 30px;
}
.furniture__describe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__header_small {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  /* identical to box height, or 135% */
  color: #161616;
}
.furniture__sell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__prise {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 129% */
  color: #244d4d;
}
.furniture__button {
  color: #244d4d;
}
.furniture__button:hover {
  color: #161616;
}

.catalog_text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.catalog__header {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
}
.catalog__paragraph {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 135%;
  color: #444;
  max-width: 800px;
  text-align: center;
  padding: 20px 0;
}
.catalog__select {
  display: flex;
  justify-content: center;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.catalog__picture-wrapper {
  position: relative;
}
.catalog__picture-wrapper::before {
  content: "";
  width: 190px;
  height: 85px;
  background-color: #244d4d;
  position: absolute;
  z-index: -1;
  left: -12px;
  top: -9px;
}
.catalog__picture-wrapper::after {
  content: "";
  width: 190px;
  height: 85px;
  background-color: #244d4d;
  position: absolute;
  z-index: -1;
  right: -12px;
  bottom: -9px;
}
.catalog__switch {
  display: grid;
  grid-template-columns: repeat(2, minmax(55px, 222px));
  grid-template-rows: repeat(3, minmax(30px, 90px));
  place-content: center;
  gap: 20px;
}
.catalog__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 2px rgba(0, 0, 0, 0.177) solid;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #808080;
}
.catalog__item:hover {
  background-color: #244d4d;
  color: #fff;
}

.footer__wrapper {
  padding: 100px 20px 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #244d4d;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__header {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}
.footer__paragraph {
  max-width: 300px;
  margin-top: 20px;
  color: #fff;
}
.footer__link {
  color: #fff;
}
.footer__link:hover {
  color: #fff;
}

@media (max-width: 1059.98px) {
  .list__wrapper {
    justify-content: center;
  }
  .furniture {
    margin: 80px 15px 80px 15px;
  }
  .furniture:not(:first-child) {
    display: none;
  }
  .hero__wrapper {
    flex-direction: column;
    padding: 60px 20px;
  }
  .hero__container {
    width: 100%;
    padding: 0;
  }
  .hero__picture-wrapper {
    display: none;
  }
  .footer__text {
    margin-top: 30px;
  }
  .catalog__picture-wrapper {
    margin-bottom: 40px;
  }
  .catalog__picture-wrapper::after,
.catalog__picture-wrapper::before {
    display: none;
  }
  .catalog__select {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .header__nav {
    display: none;
  }
  .hero__header {
    font-size: 50px;
  }
  .hero__button {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */